* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #B65FCF;
    text-decoration: none;
  }

  section {
    margin: 200px auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #B65FCF;
    width: 1000px;
    text-decoration: none;
  }
  
  form {
    padding: 15px 25px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  form label {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  input {
    font-family: 'Montserrat', sans-serif;
  }
  
  a {
    color: #0000ff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  #wrapper,
  #loginform {
    margin: 0 auto;
    padding-bottom: 25px;
    background: #9A4EAE;
    width: 900px;
    max-width: 100%;
    border: 2px solid #B65FCF;
    border-radius: 4px;
  }
  
  #loginform {
    padding-top: 30px;
    text-align: center;
    border-radius: 2rem;
  }
  
  #loginform p {
    padding: 15px 30px;
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  #chatbox {
    position: relative;
    right: 0px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background:#9A4EAE;
    height: 300px;
    width: 800px;
    /* border: 1px solid #EED202; */
    overflow: hidden;
    overflow-y: scroll;
    /* border-radius: 4px;
    border-bottom: 4px solid #EED202; */
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    
  }

  #chatbox::-webkit-scrollbar {
    display: none;
  }
  
  #usermsg {
    flex: 1;
    border-radius: 1.5rem;
    border: 0.5px solid #EED202;
    margin-left: 10px;
    text-indent: 10px;
  }
  
  #name {
    border-radius: 2rem;
    border: 1px solid #ff9800;
    padding: 10px 70px;
    background-color: yellow;
    color: #9A4EAE;
  }
  
  #submitmsg,
  #enter{
    background: #FFF44F;
    border: 2px solid #EED202;
    color: white;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 2rem;
  }

  #submitmsg {
    color: #B65FCF;
  }
  
  .error {
    color: #ff0000;
  }
  
  #menus {
    padding: 15px 25px;
    display: flex;
  }
  
  #menus p.welcome {
    flex: 1;
  }
  
  a#exit {
    color: white;
    background: #c62828;
    padding: 4px 8px;
    border-radius: 2rem;
    font-weight: bold;
  }
  
  .msgln {
    margin: 0 0 5px 0;
  }
  
  .msgln span.left-info {
    color: orangered;
  }
  
  .msgln span.chat-time {
    color: #FFF44F;
    font-size: 70%;
    padding-bottom: 20px;
  }
  
  .msgln b.user-name, .msgln b.user-name-left {
    font-weight: bold;
    background: #32CD32;
    color: white;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    margin: 0 5px 0 0;
  }
  
  .msgln b.user-name-left {
    background: orangered;
  }
  .main-head {
    width: 55%;
    margin: 0 0 0 auto; 
    justify-content: center;
  }
  
  /* nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: center;
    position: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 10vh;
    width: 20%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        float: none;
  }

  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  
  nav ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60rem;
            flex: 1 1 60rem;
    margin: 2rem 0rem;
  } */

  /* .active {
    background: #FFF44F;
    color: #9A4EAE;
    padding: 1rem 3rem;
    border-radius: 2rem;
    text-decoration: none;
  } */

  /* ul {
    list-style: none;
  }
  
  ul a{
    text-decoration: none;
    color: #2c2c2c;
  } */

  

 /* menu bar */ 

 #menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #DC052D;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg2, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #EED202, #9A4EAE);
  border-radius: 50%;
  transition: 0.3s ease;
}

.menu-bg2 {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #9A4EAE, #EED202);
  border-radius: 50%;
  transition: 0.3s ease;
}
.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%,-30%);
}

@media screen and (max-width: 1332px) {
  html {
    font-size: 80%;
  }
  
  nav {
    width: 30%;
  }

  #loginform p {
    padding: 50px 30px;
    font-size: 2rem;
    font-weight: bold;
  }

  #loginform {
    padding-top: 10px;
    text-align: center;
    border-radius: 2rem;
  }

  #name {
    border-radius: 2rem;
    border: 1px solid #ff9800;
    padding: 20px 110px;
    background-color: yellow;
    color: #9A4EAE;
    font-size: 1.4rem;
  }

  /* menu mobile */

  #menu {
    z-index: 3;
  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: #DC052D;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .menu-bg2, #menu {
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #EED202, #9A4EAE);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .menu-bg2 {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #9A4EAE, #EED202);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%,-30%);
  }
}